.intro-image {
  width: 100%;
  height: auto;
  // margin-top: 0px;
}
.intro-image-absolute {
  max-width: none;

  padding: 0;
  margin-bottom: 30px;
  @include media-breakpoint-up(sm) {
  }
  @include media-breakpoint-up(md) {
    position: absolute;
    bottom: -30px;
    left: -50px;
    width: 650px;
  }
  @include media-breakpoint-up(lg) {
    bottom: -30px;
    left: -60px;
    width: 650px;
  }
  @include media-breakpoint-up(xl) {
    bottom: -30px;
    left: -70px;
    width: 650px;
  }
}
.intro-image-hide-mobile {
  // width: 100%;
  padding-top: 30px; //add padding if on mobile
  // display: none;
  // @include media-breakpoint-up(md) {
  //   display: block;
  // }
}
